@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

.my-masonry-grid {
    display: flex;
    margin-left: -30px; /* Adjust gap */
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 30px; /* Adjust gap */
    background-clip: padding-box;
  }
  .my-masonry-grid_column > img {
    margin-bottom: 30px; /* Adjust gap between images */
  }

  .services-grid {
    display: flex;
    margin-left: -30px; /* Adjust gap */
    width: auto;
  }

  .services-grid-column {
    padding-left: 30px; /* Adjust gap */
    background-clip: padding-box;
  }
  .services-grid-column .service {
    margin-bottom:30px
  }

.service:hover .text-primary{
    color: white !important;
}